#########################################################################################
# --------- TIP: To install all, run command "pip install -r requirements.txt" --------- #
#########################################################################################

## Extracting data from TradingView/Finviz
# Data fetching
requests

# Selenium (for FinViz token refresh), Web Scraper
#selenium
webdriver-manager
beautifulsoup4

#Curl impersonate
curl_cffi

# Data processing
pandas

# Database
pymongo

# Utilities
python-dotenv

yfinance # TEMPORARY!!!!!!!

## For loading the website
pytz

# Plotly
plotly
