# TIP: Use pip install -r requirements.txt

## Extracting data from TradingView/Finviz
# Data fetching
requests

# Scraping
webdriver-manager
beautifulsoup4
curl_cffi
tradingview-screener

# Data processing
pandas

# Database
pymongo
django-mongodb-backend

# Utilities
python-dotenv
rookiepy

yfinance # TEMPORARY!!!!!!!

## Visualizations and Webapp
## For loading the website
pytz

# Plotly
plotly
